<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Linux Gaming Adventures - ron's blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>
<body>
    <a href="/" id="titlecont"><h2 id="title">ron's blog</h2></a>
    <hr>
    <h3 id="postTitle"><%- md.title_html_notag %></h3>
    <%- md.html_notitle %>
    <hr>
    <p>Contact methods may be found on <a href="https://ronthecookie.me">my main site (yes, i know it's ugly)</a></p>
    <!-- <a href="/" id="rti">Return to Index</a> -->
    <p>&#169; 2019 Ron B</p>
</body>
</html>